#product-overview {
  position: relative;
  height: 33vh;
  padding: 0.6rem;
  background-image: url("https://images.unsplash.com/photo-1490984792589-bc12fe270585?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#product-overview h1 {
  position: absolute;
  bottom: 2%;
  left: 4%;
  margin: 0rem;
  color: hsl(0, 0%, 80%);
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
}

#plans {
  padding: 0rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
.plans__title {
  margin: 1.3rem 0rem;
  padding: 0.5rem;
  color: hsl(8, 75%, 45%);
  font-size: 2.5rem;
}
.plan {
  background-color: hsl(8, 75%, 70%);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.plan__title {
  margin-bottom: 0.5rem;
  padding: 0rem;
  font-size: 2.5rem;
}
.plan__price {
  margin-bottom: 0.25rem;
  padding: 0rem;
  font-size: 2.5rem;
}
.plan__features {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
}
.plan__features li {
  margin-bottom: 0.5rem;
}
.plan--highlighted {
  background-color: hsl(8, 80%, 60%);
  color: hsl(0, 0%, 90%);
}
.plan__annotation {
  background-color: hsl(0, 0%, 100%);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 4px 2px 2px 2px hsla(0, 0%, 0%, 0.4);
  color: hsl(8, 90%, 40%);
}

#key-features {
  background-color: #d98226;
  padding: 0.5rem;
}
.key-features__title {
  color: white;
  text-align: center;
}
.key-feature__list {
  margin: 0rem;
  padding: 0rem;
  list-style-type: none;
  font-weight: bold;
  text-align: center;
}

.key-feature__image {
  width: 9rem;
  height: 9rem;
  margin: auto;
  border: 2px solid black;
  border-radius: 50%;
  padding: 1.25rem;
  background-color: hsl(340, 100%, 90%);
}
.key-feature__description {
  font-size: 1.25rem;
  text-align: center;
}
@media (min-width: 640px) {
  main {
    margin-top: 56px;
  }
  #product-overview {
    height: 40vh;
  }
  #product-overview h1 {
    font-size: 3rem;
  }
  .plan {
    display: inline-block;
    width: 30%;
    margin: 0.5rem;
    min-width: 242px;
    max-width: 426px;
    vertical-align: middle;
  }
  .plan--highlighted {
    box-shadow: 4px 4px 2px 2px hsla(8, 75%, 70%, 0.7);
  }
  #key-features {
    padding: 1.5rem;
  }
  .key-feature {
    display: inline-block;
    width: 32%;
    max-width: 426px;
    vertical-align: top;
  }
}
